<!DOCTYPE html>
<html>
<head>
  <title><%= @restaurant.name %></title>
</head>
<body>
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.description %></p>
  <p><%= @restaurant.phone_number %></p>
</body>
</html>
